@model IEnumerable<MultiShop.Mvc.Models.ViewModels.Product>
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3"> Products</span></h2>
    <div class="row px-xl-5">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="@item.ProductImagePath" height="100" width="300" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="@Url.Action("Cart" , "Home" ,new { id=item.Id , count=1})"><i class="fa fa-shopping-cart"></i></a>

                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="@Url.Action("Details","Product" , new { id = item.Id })">@item.Name</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@item.SalePrice</h5><h6 class="text-muted ml-2">
                            @if(item.DiscountPrice!=null || item.DiscountPrice < 0) { 
                            <del>@item.DiscountPrice</del>
                            }
                            </h6>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- Products End -->
